$header-height: 32px;

.month-container {
  background-color: #888;
  display: grid;
  flex-grow: 1;
  padding: 12px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: $header-height repeat(6, 1fr);
  grid-gap: 4px;
}

.day {
  background-color: #eee;

  &--offset {
    background-color: #bbb;
  }
}

.month-header {
  background-color: #ccc;
  line-height: $header-height;
  text-align: center;
}
